<!DOCTYPE html>
<html>
<head>
    <title>Account - Add</title>
</head>
<body>
<h1>Add New Account</h1>
<form action="/account/insert" method="get">
    First Name: <input name="first_name" type="text" />
    <br />
    <br />
    Last Name: <input name="last_name" type="text" />
    <br />
    <br />
    Email-Address: <input name="email" type="email" />
    <br />
    <input type="submit" />
</form>
</body>
</html>